<div class='container text-center'>

<h1 >NewEntries</h1>
 <div *ngFor='let blog of blogs'>
   
   
    <div>{{blog.title}}</div>
 </div>
 <body>
   <select name="cars" id="cars">
      <option value="TATA">TATA</option>
      <option value="TOYOTA">TOYOTA</option>
      <option value="mercedes">MERC</option>
      <option value="audi">Audi</option>
    </select>

   <form action="/action_page.php">
      <label for="fname">First name:</label>
      <input type="text" id="fname" name="fname"><br><br>
      <label for="lname">Last name:</label>
      <input type="text" id="lname" name="lname"><br><br>
      <input type="submit" value="Submit">
      <button>cancel</button>
      
      
    </form>
 </body>
</div>
