/* You can add global styles to this file, and also import other style files */
body
{
    background-color: rgb(128, 128, 180);
    font-style: italic;
    forced-color-adjust: green;

}
image{

    size: 1in;
}